/**** ./dark_theme.css ***/

#login:before {
    background-image: linear-gradient(275deg, #103c68, #0073a7);
}

@media (max-width: 767px) {
    #searchInput:read-write:focus {
        background: linear-gradient(275deg, #103c68, #0073a7);
    }
}

.scroll:before {
    top: 0;
    background-image: linear-gradient(to top, rgba(81,85,88, 0), rgba(81,85,88, 1) 90%);
}

#bigtext {
    color: var(--main-text-color) !important;
}

#holder .row .item table[id^="item"] > tbody > tr.with-cam-preview > #name {
    background: rgba(0,0, 0, 0.2) !important;
}
