/**** ./dashboard_columns.css ***/
@media (min-width: 1200px) {
    #dashcontent {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #dashcontent > section > h2 {
        text-align: center;
        height: 50px;
    }

    #dashcontent > section {
        flex: 1 1 200px;
        min-width: 200px;
        max-width: calc(100% / 3);
    }

    #dashcontent > section:not(.compact) > div.row {
        grid-template-columns: none !important;
    }
}
