/**** ./dashboard_columns.css ***/
@media (min-width: 1200px) {
    #dashcontent {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    #dashcontent > section {
        flex: 1 1 0;
        min-width: 200px;
    }

    #dashcontent > section > h2 {
        text-align: center;
        height: 50px;
    }

    #dashcontent > section:not(.compact) > div.row.divider,
    #dashcontent > section:not(.compact) > div.row:not(.divider) {
        grid-template-columns: minmax(0, 500px) !important;
        justify-content: center;
    }
}
