/**** ./settings.css ***/
/* Setup */
input#AcceptNewHardware:checked ~ button {
    display: none
}

.allow5min,
.allow5min:hover {
    background: none;
    background-color: var(--main-blue-color);
    color: #fff;
    border-radius: 2px;
    border: none;
}

/* =Setup */
/* Footer */
/* =Footer */
/* Popups */

/* Theme tab in Settings */
#settingscontent #themeTabButton.active + li.pull-right {
    display: none !important;
}

#settingscontent p.two_cols {
    display: flex;
    flex-flow: row wrap;
}

#settingscontent p > span {
    display: block;
}

#settingscontent span.cols_span {
    flex: 0 0 100%;
}

#settingscontent p.two_cols > span.option {
    width: 50%;
}

#settingscontent p:not(.two_cols) > span.option {
    margin-left: 2em;
}

#settingscontent span.option.label_right > label {
    display: inline-block;
    min-width: 100px;
    text-align: right;
    padding-right: 10px;
}

/* if a sub-setting needs the parent settings to be checked. */
#settingscontent input.parentrequired:not(:checked) ~ span.option,
#settingscontent input.parentrequired:not(:checked) ~ span.option > input.parentrequiredchild,
#settingscontent input.parentrequired:not(:checked) ~ span.option > textarea.parentrequiredchild {
    color: var(--main-disabled-color);
}

a.resetschemebtn {
    font-size: 18px;
    padding: 0 10px;
}

/*System page*/
#settings .row-fluid {
    height: auto;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

#settings .row-fluid > div {
    background: var(--main-item-bg-color);
    border: 1px solid var(--main-item-bg-color);
}

#settings .row-fluid > .span4,
#settings .row-fluid > .span6,
#settings .row-fluid > .span12 {
    margin: 20px;
    padding: 20px;
    flex-basis: 500px;
    width: auto;
    flex-grow: 1;
}

#settings textarea {
    width: 100% !important;
}

#settings input[type=color] {
    border: 0;
    background: transparent;
}

#textareaIcons {
    resize: none;
    width: 100%;
    margin: 1em 0;
}

.blocklyText {
    color: #fff !important;
    fill: #fff !important;
}

.blocklyNonEditableText>text, .blocklyEditableText>text {
    fill: #000 !important;
}

/* Settings page CSS */
.mHeaderBtn {
    margin-left: calc(100% - 660px);
    display: flex;
    justify-content: space-around;
}

.mHeaderBtn li i {
    font-size: 22px;
}

.mHeaderBtn li div {
    font-size: 14px;
    letter-spacing: -0.5px;
    margin-left: 10px;
}

.rectangle-8, .rectangle-8-dropdown {
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    list-style-type: none;
    min-height: 75px;
    flex: 1 0 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.machinoText {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: var(--main-text-color);
    margin-left: 20px;
}

.mDropdown-Text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: left;
    vertical-align: middle;
    color: var(--secondary-text-color);
    text-decoration: none;
}

.mDropdown-Text:hover {
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.machinon_ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-flow: row dense;
    justify-content: space-evenly;
    column-gap: 20px;
}

ul.machinon_ul li {
    padding: 5px 15px;
    margin: 15px 0;
}

.dropdown-content {
    display: none;
    background-color: var(--main-item-bg-color);
    min-width: 160px;
    border: 1.5px solid var(--main-blue-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    position: absolute;
}

.dropdown-content a {
    color: var(--main-text-color);
}

.rectangle-8-dropdown:hover .dropdown-content {
    display: block;
}

.forkme {
    margin: -21px -21px 0 0;
}

#themesettings p {
    margin: 2px 0;
}

#themesettings h3 {
    margin-top: 20px;
}

#themesettings h4 {
    margin-top: 10px;
}

@media all and (max-width: 767px) {
    #machinoSettings {
        padding: 0;
    }

    ul.mHeaderBtn {
        display: flex;
        margin-left: 0;
        margin-top: 10px;
    }

    ul.mHeaderBtn li div {
        display: none;
    }

    ul.machinon_ul {
        margin: 0 0 10px 5px;
        grid-template-columns: repeat(auto-fill, 100px);
    }

    ul.machinon_ul li {
        display: block;
        padding: 5px;
        text-align: center;
    }

    div.machinoText {
        display: table-cell;
        margin: 0;
        font-size: 1em;
        line-height: 1em;
        height: 35px;
        vertical-align: middle;
        width: 100px;
    }  

    code {
        white-space: normal;
    }

    #settings section:last-child {
        margin-bottom: 50px;
    }

    #settings li.pull-right, 
    #settings div.pull-right {
        position: fixed;
        left: 0;
        bottom: 5px;
        width: 100%;
        text-align: center;
        z-index: 10;
    }

    #settings .pull-right a {
        margin: 0 20px;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 979px) {
    #settings .row-fluid {
        flex-wrap: wrap;
        font-size: 0.9em;
    }

    #settings .row-fluid > .span4, #settings .row-fluid > .span6, #settings .row-fluid > .span12 {
        min-height: unset;
        margin: 10px;
    }

    #settings section > br {
        display: none;
    }
}
