/**** ./sidemenu.css ***/
img.header__icon {
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.bannercontent {
    padding: 0px 2% 0 2% !important;
}

.navbar-inverse .navbar-inner {
    background-color: var(--main-blue-color) !important;
    width: 100%;
    max-width: 450px;
    height: 100%;
    transform: translateX(-150%);
    transition: transform 0.5s;
    margin-top: -40px;
    padding: 5px;
    border: none;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1000;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .navbar-inverse .navbar-inner {
        background-color: transparent !important;
        -webkit-backdrop-filter: blur(3px) opacity(.8);
        backdrop-filter: blur(3px) opacity(.8);
    }
}

.navbar.notext .navbar-inner {
    width: 45px;
}

.navbar-inverse .navbar-inner.slide {
    transform: translateX(0);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff var(--main-blue-color);
}

.navbar-inverse .navbar-inner.slide::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
}

.navbar-inverse .navbar-inner.slide::-webkit-scrollbar-thumb {
    background: rgba(0,0,0, 0.4);
    border-radius: 5px;
}

.navbar-inverse .navbar-inner > div.container {
    max-width: 100%;
}

.menu-toggle {
    display: block !important;
}

.navbar .nav {
    flex-direction: column;   
    margin-top: 35px;
}

.navbar .nav > li {
    border-bottom: 1px solid var(--main-disabled-color);;
    float: none;
}

.navbar.notext .nav > li {
    width: 45px;
}

.navbar .nav li a:before, .navbar .nav li a:hover:before {
    height: 0;
}

.navbar .nav .dropdown-menu {
    padding: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.navbar .nav li a {
    font-size: 20px !important;
    text-align: left;
}

.navbar .nav li a:hover {
    background-color: transparent !important;
    color: var(--secondary-text-color) !important;
}

.nav li a img {
    padding-right: 10px;
}

.navbar .nav .current_page_item > a {
    text-align: left;
    background-color: transparent !important;
}

.navbar .nav li ul li ul {
    right: 0 !important;
    left: 0 !important;
    top: 245% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.navbar .nav li ul li ul li ul {
    top: 345% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.navbar .divider-vertical {
    display: none !important;
}

.hidden-tablet,
.hidden-phone {
    display: inline !important;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: var(--main-text-color);
    border-bottom-color: var(--main-text-color);
}

.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
    background: transparent;
    box-shadow: none;
    width: 100%;
}

.navbar .nav ul.dropdown-menu li {
    line-height: 16px;
}

.navbar .nav ul.dropdown-menu li a span {
    display: inline;
}

.navbar .pull-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.pull-right:after,
.navbar .pull-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.pull-right:before {
    display: none !important;
}

.navbar .nav .dropdown-menu,
.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu,
.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
    position: relative;
    font-size: 16px;
}

.dropdown-submenu > a:after {
    background: transparent !important;
    position: absolute;
    right: 50px;
    bottom: 10px;
    transform: rotate(90deg);
    border-left-color: #fff;
    border-width: 4px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #000;
}

.navbar-fixed-top {
    margin-bottom: 20px;
    position: static !important;
}

#iconsmain > div > tbody {
    top: 1%;
}

.events-editor {
    margin-top: -40px;
}

#holder > .container-fluid {
    padding-top: 0;
}

#timesun {
    margin-top: 0px;
}
